.main {
    height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    background: #333333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1040;
    overflow-y: auto;
}

.content {
    transition: transform 0.3s ease;
}

@media (min-width: 992px) {
    .sidebar {
        transform: translateX(0);
    }
    .content {
        margin-left: 200px;
    }
}

.show-sidebar .sidebar {
    transform: translateX(0);
}

.show-sidebar .content {
    transform: translateX(200px);
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 60px;
}

.sidebar li {
    padding: 0;
    /* Menghapus padding dari li */
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    /* Mengubah a menjadi block-level */
    padding: 20px;
    /* Memberikan padding untuk area klik */
}

.sidebar a:hover {
    background: rgb(24, 24, 24);
}

.navbar {
    background: #3c8dbc;
    position: fixed;
    width: 100%;
    z-index: 1050;
}

@media (max-width: 992px) {
    .navbar-toggler {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1060;
    }
    .content {
        margin-left: 0;
    }
}

.active {
    background: #000;
    border-left: solid 5px #ffcc00;
}

.card-data {
    border: solid;
}